<div class="container">
  <div class="row">
    <div class="col-md-3">
    <table class="table">
    <tbody>
    <tr>
      <td><i class="fa-solid fa-user-cog"></i> User info</td>
    </tr>
  
    <%= render 'users/profile', user: @user %>
    <tr>
      <td><i class="fa-solid fa-book"></i> New book</td>
    </tr>
    <% if @bookss.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= @bookss.errors.count %> 件のエラーが発生しました</h4>
      <ul>
        <% @bookss.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </tbody>
<%= render "books/list",book: @bookss  %> 

    </table>

    </div>
    <div class="col-md-8 offset-md-1">
      <table class="table">
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <p>
                <%= link_to user_path(book) do %>
                投稿ユーザー画像: 
                <%= image_tag 'no_image.jpg' %><% end %></p>
                <p>Title: <%= link_to book.title, book_path(book) %></p> # 自動で取得する事が出来るので、大丈夫！
                <p>Opinion: <%= book.body %></p>
                <p>コメント件数：<%= book.book_comments.count %></p>
                <p>ユーザーネーム: <%= book.user.name %></p>
                ###
                <p>コメント件数：<%= book.book_comments.count %></p>
                ###
                <% if book.favorited_by?(current_user) %>
                <%= link_to book_favorites_path(book), method: :delete, remote: true, class: "favorite-btn", data: { testid: "favorite-link" } do %>
                  ♥ <i class="fa-solid fa-heart"></i> <%= book.favorites.count %> いいね
                <% end %>
              <% else %>
                <%= link_to book_favorites_path(book), method: :post, remote: true, class: "favorite-btn", data: { testid: "favorite-link" } do %>
                  ♡ <i class="fa-regular fa-heart"></i> <%= book.favorites.count %> いいね
                <% end %>
              <% end %>
              
              
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @books %>
    </div>
  </div>
</div>



